*{
    font-family: "Poppins";
}


/* Common positioning rules */
.orbit {
    border: 1px dashed rgba(255, 255, 255, 0.1);
  }
  
  #sun,
  .orbit,
  .orbit + div,
  .orbit + div > div {
    position: absolute;
  }
  
  #sun,
  .orbit,
  .orbit + div {
    top: 50%;
    left: 50%;
  }
  
  .orbit + div > div {
    top: 0;
    left: 50%;
  }
  
  .orbit,
  .orbit + div div,
  #earth {
    border-radius: 50%;
  }
  
  /* Sun */
  #sun {
    height: 200px;
    width: 200px;
    background-color: #fae20a;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: 0 0 84px orange;
  }
  
  /* Mercury */
  #mercury {
    margin-top: -13.5px;
    margin-left: -13.5px;
    height: 25px;
    width: 25px;
    background-color: #a65e22;
  }
  
  .mercury-orbit,
  .mercury-spin {
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
  }
  
  /* Venus */
  #venus {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    background-color: #3498db;
    box-shadow: 0 0 34px #3a4385;
  }
  
  .venus-orbit,
  .venus-spin {
    margin-top: -375px;
    margin-left: -375px;
    width: 750px;
    height: 750px;
  }
  .venus-orbit2,
  .venus-spin2 {
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
  }
  

  
  /* Spinning animations */
  @keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .mercury-spin {
    animation: spin-right 8.8s linear infinite;
  }
  
  .venus-spin {
    animation: spin-right 22s linear infinite;
  }

  
  .venus-spin2 {
    animation: spin-right 22s linear infinite;
  }
  
  .mars-spin {
    animation: spin-right 36.5s linear infinite;
  }